@import "theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom CSS */
.TricolorBar {
  display: flex;
  height: 10px;
}

.TricolorBar-saffron {
  flex: 1;
  background-color: #FF9933;
}

.TricolorBar-white {
  flex: 1;
  background-color: #FFFFFF;
}

.TricolorBar-green {
  flex: 1;
  background-color: #138808;
}
